<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />

	<link rel="stylesheet" type="text/css" href="ADMIN_PUBLIC/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="ADMIN_PUBLIC/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="ADMIN_PUBLIC/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="ADMIN_PUBLIC/static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="ADMIN_PUBLIC/static/h-ui.admin/css/style.css" />
	<style>
		.pic{
			width:50px;
		}
		.picbig{
			position:absolute;
			width:0px;
			-webkit-transition:width 0.3s linear 0s;
			-moz-transition:width 0.3s linear 0s;
			-ms-transition:width 0.3s linear 0s;
			transition:width 0.3s linear 0s;
			z-index:10;
		}
		.pic:hover + .picbig{
			width:270px;
		}
		div:hover{
			color: #000000;
		}
	</style>

	<!--/meta 作为公共模版分离出去-->

	<title>博文列表 - 博文列表 - H-ui.admin v3.0</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<include file="public/header" />
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<include file="public/menu" />

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		博文管理
		<span class="c-gray en">&gt;</span>
		博文列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form action="__ACTION__" method="get">
				<input type="text" class="input-text" style="width:250px" placeholder="输入博文名称"  name="keyword">
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜博文</button>
			</form>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="r">共有数据：<strong><?php echo $count ;?></strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
				<tr>
					<th scope="col" colspan="9">博文列表</th>
				</tr>
				<tr class="text-c">
					<th  width="100px" >序号</th>
					<th  width="100px">文章标题</th>
					<th  width="100px">所属分类</th>
					<th  width="100px">图片</th>
					<th  width="80px">文章详情</th>
					<th  width="80px">加入时间</th>
					<th width="100px" >操作</th>

				</tr>
				</thead>
				<tbody>
				<?php    $i=0; foreach($ArticleData as $k => $v):     ?>
				<tr class="text-c">
					<td style="color:black"><?php echo ++$i; ?></td>
					<td><a href="#"><?php echo $v['title']; ?></a></td>
					<td style="color:black"><?php echo $v['cat_name']; ?></td>
					<td>
						<?php if( $v['thumb_url'] == '' ){ ?>
						<img src="ADMIN_PUBLIC/assets/img/default.jpg" width="50px" alt="">
						<?php } else { ?>
						<img class="pic" src="VIEW_UPLOAD/<?php echo $v['img_url']; ?>" width="100px" alt="">
						<img class="picbig" src="VIEW_UPLOAD/<?php echo $v['img_url']; ?>"  alt="">
						<?php } ?>
					</td>
					<td style="color:black"><?php echo date('Y-m-d H:i',$v['add_time']); ?></td>
					<td><a href="javascript:;" class="showContent" article_id="<?php echo $v['article_id']; ?>">查看文章详情</a></td>
					<td class="td-manage">
						<a title="复原" href="javascript:;" a_id="<?php echo $v['article_id']; ?>" class="reback" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a title="删除"  article_id="<?php echo $v[article_id];?>"  class="del" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				<?php endforeach; ?>

				</tbody>
			</table>

			<div >
				<!--  分页列码 -->
				{{$pageList}}
			</div>
			</table>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
<include file="public/footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="ADMIN_PUBLIC/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="ADMIN_PUBLIC/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="ADMIN_PUBLIC/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	/*
	 参数解释：
	 title	标题
	 url		请求的url
	 id		需要操作的数据id
	 w		弹出层宽度（缺省调默认值）
	 h		弹出层高度（缺省调默认值）
	 */
	/*博文-增加*/
    function admin_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
	/*博文-编辑*/
    function admin_edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>
<script src="ADMIN_PUBLIC/layer/layer.js"></script>
<script>
    //无刷新分页
    //这里的单击事件需要用on去绑定，然后动态增加的页码也有单击的事件
    $(document).on('click',".pagination a",function(){
        var href = $(this).attr('href'); //获取到当前a链接的href属性的地址
        //发送ajax请求
        $.get(href,'',function(json){
            //进行分页数据和分页页码的数据替换
            $("tbody").html(json.data);
            $(".pagination").html(json.page);
            console.log(json);
        },'json');
        return false; //阻止a标签的默认行为
    });


    //查看文章详情
    $(document).on("click",".showContent",function(){
        var article_id = $(this).attr("article_id");
        $.ajax({
            type:"get",
            url:"__CONTROLLER__/ajaxGetContent",
            data:{"article_id":article_id},
            dataType:'json',
            success:function(json){

                //页面层
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['620px', '440px'], //宽高
                    content: "<div style='padding:30px'>"+json.content+"</div>"
                });

            }
        });
    });


</script>
<script>
    //无刷新删除
    $(".del").click(function(){
        var self = $(this);
        if(!confirm('确认删除？')){
            return false;
        }
        //发送ajax请求
        var article_id = $(this).attr('article_id');
        $.ajax({
            type:"get",
            url:"__CONTROLLER__/del",
            data:{"article_id":article_id},
            dataType:'json',
            success:function(json){

                if(json.errCode == 0) {
                    //要删除当前行
                    self.parents("tr").remove();
                    //序号需要重新排列
                    $("tbody tr").each(function (k, v) {
                        $(this).find("td:first").html(k + 1);
                    });
                    alert(json.info);
                }
            }
        });
    });
</script>
<script>
    //无刷新复原
    $(".reback").click(function(){
        var self = $(this);
        if(!confirm('确认复原？')){
            return false;
        }
        //发送ajax请求
        var a_id = $(this).attr('a_id');
        $.ajax({
            type:"get",
            url:"__CONTROLLER__/reback",
            data:{"a_id":a_id},
            dataType:'json',
            success:function(json){

                if(json.errCode == 0) {
                    //要删除当前行
                    self.parents("tr").remove();
                    //序号需要重新排列
                    $("tbody tr").each(function (k, v) {
                        $(this).find("td:first").html(k + 1);
                    });
                    alert(json.info);
                }
            }
        });
    });
</script>
</body>
</html>