<script type="text/javascript" src="ADMIN_PUBLIC/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="ADMIN_PUBLIC/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="ADMIN_PUBLIC/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="ADMIN_PUBLIC/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--<script type="text/javascript">-->
    <!--$(".Hui-aside").Huifold({-->
        <!--titCell:'.menu_dropdown dl dt',-->
        <!--mainCell:'.menu_dropdown dl dd',-->
    <!--});-->
<!--</script>-->
<!--/_footer /作为公共模版分离出去-->